
.mg.title h2 {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    text-align: center;
    padding: 15px 0; 
    border-radius: 10px;
}

.faq-list {
    margin: 30px auto;
    max-width: 700px;
}

.faq-item {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 18px;
    padding: 18px 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    border: 1px solid black; 
}

.faq-item h3 {
    margin: 0 0 8px 0;
    color: #bfa46d;
}
.faq-item p {
    margin: 0;
    color: #333;
}
